<div>
  <nz-page-header nzTitle="All files"></nz-page-header>

  <nz-table #basicTable [nzData]="files">
    <thead>
      <tr>
        <th>File id</th>
        <th>status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.file_id }}</td>
        <td>
          <nz-tag nzColor="green">uploaded</nz-tag>
        </td>
        <td>
          <a [routerLink]="['/files', data.file_id]">
            <span nz-icon nzType="step-forward" nzTheme="outline"></span>
            preview
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
